body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  margin-top: 100px;
}

#formulaire {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  margin-right: 10px;
  margin-left: 10px;
}

.container {
  border: 5px solid green;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  width: 400px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
}

#nameProduct,
#Quantité,
#prixProductModif {
  width: 25%;
}

#pourcentage,
#pourcentageDeMarge {
  width: 40px;
}

.divForm {
  display: flex;
  align-items: center;
  width: 100%;
}


#prixProduct {
  color: black;
  margin-left: 15px;
}

.bouttonValiderEtReload {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px ;
  margin-bottom: 20px;
}


.divValider,
.divZero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.divValider button {
  color: white;
  background: green;
  border-radius: 20px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.divValider button:hover,
.divZero button:hover {
  transform: scale(1.2);
}

.divZero button {
  color: white;
  background: red;
  border-radius: 20px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.fa-rotate-right, .fa-check {
  padding: 20px;
};