body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  padding: 15px;
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

input{
  width: 50%;
}

